body{
    background-color: #561313;
}
.Bpesquisa{
    background-color: #A6a6a6;
    height: 300px;
}
.Buscar{
    color: #A6a6a6;
    cursor: pointer;
}
.Bartes{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    height: 250px;
    width: 250px;
    margin-left: 85px;
    display: inline-block;
}
.teste{
    color: aliceblue;
    text-align: center;
    
}