html.body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

body{  
      background-color: rgb(43, 1, 1);
}

.triangulo{
    position: fixed;
    top: -500px;
    left: -1650px;
    transform: rotate(29deg);    
}

