*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #561313;
}
.fundoBranco{
    background-color: aliceblue;
    height: 1000px;
    width: 1300px;
    margin-top: 35px;
    margin-left: 55px;
}
.fundoPreto{
    
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 1350px;
    height: 300px;
}
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}
.texto{
    color: aliceblue;
    margin-left: 400px;
}
img{
    width: 330px;
    border-radius: 20px;
    margin-top: -50px;
    border: 2px solid #000;
    margin-left: 40px;
}
.inscrever{
    background-color: #ff0000;
    height: 25px;
    width: 90px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 800px;
    margin-top: 5500;
}