*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #561313;
    
}
.pesquisar{
    text-align: center;
    padding-top: 100px;
}
.pesquisar input{
    border-radius: 20px;
    padding: 8px;
    width: 500px;

}
.Bpesquisa{
    background-color: #A6a6a6;
    height: 300px;
    background: linear-gradient(to top, #464646, #A6a6a6);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.Buscar{
    color: #000000;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
}
.Bartes{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    height: 250px;
    width: 250px;
    margin-left: 85px;
    display: inline-block;
    margin-top: 50px;
    box-sizing: border-box
}
.teste{
    color: aliceblue;
    text-align: center;
    
}