*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #561313;
    
}
.pesquisar{
    text-align: center;
    padding-top: 100px;
}
.pesquisar input{
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
padding: 9px;
width: 500px;
border-bottom-color:#000000;
}
.filtros{
padding: 5px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  margin-left: 665px;
}
.pesquisar button{
padding: 9px;
  border: 2px solid #000000;
  background-color: #ffffff;
  color: rgb(63, 7, 7);
  border-radius: 25px;
  cursor: pointer;
  position: absolute;
  right: 500px;
}
.fundoCinza{
    background-color: #A6a6a6;
    height: 300px;
    background: linear-gradient(to top, #464646, #A6a6a6);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.Bartes{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    height: 250px;
    width: 250px;
    margin-left: 85px;
    display: inline-block;
    margin-top: 50px;
    box-sizing: border-box
}
.teste{
    color: aliceblue;
    text-align: center;
    
}